<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="row">
    <div class="row__label">Имя</div>
    <mat-form-field>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-error
      *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched"
    >
      Не указано имя</mat-error
    >
  </div>
  <div class="row">
    <div class="row__label">Описание</div>
    <mat-form-field>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-error
      *ngIf="
        myForm.controls['description'].invalid &&
        myForm.controls['description'].touched
      "
    >
      Не указано описание
    </mat-error>
  </div>
  <div class="row">
    <div class="row__label">Цена</div>
    <mat-form-field>
      <input matInput formControlName="price" />
    </mat-form-field>

    <mat-error
      *ngIf="
        myForm.controls['price'].invalid && myForm.controls['price'].touched
      "
    >
      Некорректная цена
    </mat-error>
  </div>
  <div>
    <button mat-button [disabled]="myForm.invalid">Отправить</button>
  </div>
</form>

<button mat-button routerLink="">На главную</button>
